.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 10rem;
  gap: 1rem;
}
.todo-cont {
  padding: 0.8rem;
  background-color: chocolate;
}

.todos-cont {
  display: flex;
  justify-content: center;
}

ol {
  word-wrap: break-word;
}

.save-btn {
  margin-left: 1rem;
  background-color: bisque;
  color: black;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}
.delete-btn {
  margin-left: 1rem;
  background-color: crimson;
  color: white;
  border: none;
  padding: 0.2rem;
  border-radius: 10px;
  cursor: pointer;
}
